@{
    ViewData["Title"] = "Update";
}
@model UserDto

<h1>Update User</h1>

<div class="row">
    <div class=col-md-6>
        <form asp-action="Update" method="post" asp-controller="Users">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoleId"></label>
                <select asp-for="RoleId" asp-items="ViewBag.roles" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn-primary" />
            </div>
        </form>
    </div>
</div>
